<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>登录</title>
	<link rel="stylesheet" href="{{ url_for('static',filename="css/login.css") }}">
    <link rel="icon" href="{{ url_for('static',filename="images/logo.png") }}" type="image/x-icon"/>
</head>

<body>
	<div class="lowin">
		<div class="lowin-brand">
			<img src="{{ url_for('static',filename="images/logo.png") }}" alt="logo">
		</div>
		<div class="lowin-wrapper">
			<div class="lowin-box lowin-login">
				<div class="lowin-box-inner">
					<form method="post">
						<p>登录CSits</p>
						<div class="lowin-group">
							<label>邮箱 <a href="#" class="login-back-link">登录?</a></label>
							<input type="email" autocomplete="email" name="email" class="lowin-input">
						</div>
						<div class="lowin-group password-group">
							<label>密码 <a href="#" class="forgot-link">忘记密码?</a></label>
							<input type="password" name="password" autocomplete="current-password" class="lowin-input">
						</div>
						<button class="lowin-btn login-btn" type="submit">
							登录
						</button>

						<div class="text-foot">
							还没有账户? <a href="" class="register-link">注册</a>
						</div>
					</form>
				</div>
			</div>

			<div class="lowin-box lowin-register">
				<div class="lowin-box-inner">
					<form>
						<p>注册CSits</p>
						<div class="lowin-group">
							<label>姓名</label>
							<input type="text" name="name" autocomplete="name" class="lowin-input">
						</div>
						<div class="lowin-group">
							<label>邮箱</label>
							<input type="email" autocomplete="email" name="email" class="lowin-input">
						</div>
						<div class="lowin-group">
							<label>密码</label>
							<input type="password" name="password" autocomplete="current-password" class="lowin-input">
						</div>
						<div class="lowin-group">
							<label>重复密码</label>
							<input type="password" name="repassword" class="lowin-input">
						</div>
                        <div class="lowin-group">
							<label>学校</label>
							<input type="text" name="schoolname" class="lowin-input">
						</div>
                        <div class="lowin-group">
							<label>年级</label>
							<input type="text" name="grade"  class="lowin-input">
						</div>
                        <div class="lowin-group">
							<label>年龄</label>
							<input type="text" name="userage" class="lowin-input">
						</div>
                        <div class="lowin-group">
							<label>性别</label>
							<input type="text" name="usergender" class="lowin-input">
						</div>
						<button class="lowin-btn">
							注册
						</button>

						<div class="text-foot">
							已经有账户? <a href="" class="login-link">登录</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<footer class="lowin-footer">
			Design By xingyezn@163.com - Copyright &copy; 2019.Company name All rights reserved <a href="" title="" target="_blank">&nbsp; CSits</a>
		</footer>
	</div>

	<script src="{{ url_for('static',filename="js/login.js") }}"></script>
	<script>
		Auth.init({
			login_url: '',
			forgot_url: '#forgot'
		});
	</script>
</body>
</html>