<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>问卷</title>
    <link rel="icon" href="{{ url_for('static',filename="images/logo.png") }}" type="image/x-icon"/>
    <link href="{{ url_for('static',filename="css/question.css") }}" media="screen" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .welcome{
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
        }
        h2{
            text-align: center;
        }
        p{
            text-align: left;
            font-size: medium;
            text-indent: 50px;
        }
        .question{
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        .one_row{
            width: 1200px;
            margin-top: 30px;
            float: left;
            font-size: medium;
            text-align: center;
        }
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
        }
    </style>
   <script src="{{ url_for('static',filename="js/question.js") }}" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

</head>
<body>
    <div class="welcome">
        <h2>{{ g.user.username }},欢迎使用CSits！ </h2>
        <p><b>在开始使用系统之前，需要你完成下面的问卷！</b></p><p>下面有25道题，请以5、3、1、0四个数字，为横向的A、B、C、D四种行为描述排序。5表示你最喜欢的行为，3表示第二喜欢，1表示第三喜欢，而0表示最不喜欢。
        注意：要对每一个行为描述确认不同的加权分数，同一题中不同选项不要给相同的分数，要依据你的情况，例如你的学习方式，诚实作答。另外，0并不表示你完全不具备那种行为，只是表示那是你最不细化的行为。</p>
	<p>请回答每一道题，并记住：答案没有对错。这份调查的目的仅仅对你的学习方式进行描述，而不是评价你的学习能力或是给你贴上某个等级标签。</p>
    </div>
<div class="question">
<div class="action-nav-normal">
	<form method="post" id="question_form" >
        <div class="one_row">
        <div class="span1 action-nav-button">
      <a  title="" name="question1">
        <span>1</span>
      </a>
            <span class="triangle-button green" id="select1_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(1,1)">
      <a  title="">
        <span>A.创造性的</span>
      </a>
      <span class="triangle-button green" id="select1_1"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF1" id="value1_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(1,2)">
      <a  title="">
        <span>B.个人的</span>
      </a>
      <span class="triangle-button green" id="select1_2"  style="display:none;"></span>
        <input type="hidden" value="100" name="SF1" id="value1_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(1,3)">
      <a  title="">
        <span>C.组织的</span>
      </a>
      <span class="triangle-button green" id="select1_3"  style="display:none;"></span>
        <input type="hidden" value="100" name="ST1" id="value1_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(1,4)">
      <a title="">
        <span>D.分析的</span>
      </a>
      <span class="triangle-button green" id="select1_4"  style="display:none;"></span>
        <input type="hidden" value="100" name="NT1" id="value1_4" class="span1">
    </div>
	<!--div class="span1 action-nav-button green" >
      <a href="#" title="">
        <span>确定选择</span>
      </a>
	</div-->
	<div class="span1 action-nav-button red"  onclick="myclear(1)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

        <div class="one_row">
        <div class="span1 action-nav-button">
      <a  title=""  name="question2">
        <span>2</span>
      </a>
            <span class="triangle-button green" id="select2_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(2,1)">
      <a  title="">
        <span>A.事实</span>
      </a>
      <span class="triangle-button green" id="select2_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="ST2" id="value2_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(2,2)">
      <a title="">
        <span>B.热情</span>
      </a>
      <span class="triangle-button green" id="select2_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF2" id="value2_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(2,3)">
      <a title="">
        <span>C.公式</span>
      </a>
      <span class="triangle-button green" id="select2_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT2" id="value2_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(2,4)">
      <a title="">
        <span>D.人</span>
      </a>
      <span class="triangle-button green" id="select2_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF2" id="value2_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(2)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>
        <div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question3">
        <span>3</span>
      </a>
            <span class="triangle-button green" id="select3_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(3,1)">
      <a  title="">
        <span>A.即兴的</span>
      </a>
      <span class="triangle-button green" id="select3_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="SF3" id="value3_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(3,2)">
      <a title="">
        <span>B.有弹性的</span>
      </a>
      <span class="triangle-button green" id="select3_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF3" id="value3_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(3,3)">
      <a title="">
        <span>C.字面的</span>
      </a>
      <span class="triangle-button green" id="select3_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST3" id="value3_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(3,4)">
      <a title="">
        <span>D.解析的</span>
      </a>
      <span class="triangle-button green" id="select3_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT3" id="value3_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(3)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

        <div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question4">
        <span>4</span>
      </a>
            <span class="triangle-button green" id="select4_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(4,1)">
      <a  title="">
        <span>A.和谐</span>
      </a>
      <span class="triangle-button green" id="select4_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="SF4" id="value4_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(4,2)">
      <a title="">
        <span>B.问题</span>
      </a>
      <span class="triangle-button green" id="select4_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT4" id="value4_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(4,3)">
      <a title="">
        <span>C.功用</span>
      </a>
      <span class="triangle-button green" id="select4_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST4" id="value4_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(4,4)">
      <a title="">
        <span>D.想象</span>
      </a>
      <span class="triangle-button green" id="select4_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF4" id="value4_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(4)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>
        <div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question5">
        <span>5</span>
      </a>
            <span class="triangle-button green" id="select5_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(5,1)">
      <a  title="">
        <span>A.创造</span>
      </a>
      <span class="triangle-button green" id="select5_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="NF5" id="value5_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(5,2)">
      <a title="">
        <span>B.竞争</span>
      </a>
      <span class="triangle-button green" id="select5_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST5" id="value5_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(5,3)">
      <a title="">
        <span>C.合作</span>
      </a>
      <span class="triangle-button green" id="select5_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF5" id="value5_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(5,4)">
      <a title="">
        <span>D.批判</span>
      </a>
      <span class="triangle-button green" id="select5_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT5" id="value5_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(5)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question6">
        <span>6</span>
      </a>
            <span class="triangle-button green" id="select6_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(6,1)">
      <a  title="">
        <span>A.记忆</span>
      </a>
      <span class="triangle-button green" id="select6_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="ST6" id="value6_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(6,2)">
      <a title="">
        <span>B.理由</span>
      </a>
      <span class="triangle-button green" id="select6_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT6" id="value6_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(6,3)">
      <a title="">
        <span>C.与个人相关</span>
      </a>
      <span class="triangle-button green" id="select6_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF6" id="value6_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(6,4)">
      <a title="">
        <span>D.重新组织</span>
      </a>
      <span class="triangle-button green" id="select6_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF6" id="value6_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(6)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question7">
        <span>7</span>
      </a>
            <span class="triangle-button green" id="select7_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(7,1)">
      <a  title="">
        <span>A.发现</span>
      </a>
      <span class="triangle-button green" id="select7_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="NF7" id="value7_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(7,2)">
      <a title="">
        <span>B.辩论</span>
      </a>
      <span class="triangle-button green" id="select7_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT7" id="value7_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(7,3)">
      <a title="">
        <span>C.指导</span>
      </a>
      <span class="triangle-button green" id="select7_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST7" id="value7_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(7,4)">
      <a title="">
        <span>D.讨论</span>
      </a>
      <span class="triangle-button green" id="select7_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF7" id="value7_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(7)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question8">
        <span>8</span>
      </a>
            <span class="triangle-button green" id="select8_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(8,1)">
      <a  title="">
        <span>A.规律</span>
      </a>
      <span class="triangle-button green" id="select8_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="NT8" id="value8_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(8,2)">
      <a title="">
        <span>B.人际互动</span>
      </a>
      <span class="triangle-button green" id="select8_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF8" id="value8_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(8,3)">
      <a title="">
        <span>C.细节</span>
      </a>
      <span class="triangle-button green" id="select8_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST8" id="value8_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(8,4)">
      <a title="">
        <span>D.可能性</span>
      </a>
      <span class="triangle-button green" id="select8_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF8" id="value8_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(8)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question9">
        <span>9</span>
      </a>
            <span class="triangle-button green" id="select9_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(9,1)">
      <a  title="">
        <span>A.感受</span>
      </a>
      <span class="triangle-button green" id="select9_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="SF9" id="value9_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(9,2)">
      <a title="">
        <span>B.目标</span>
      </a>
      <span class="triangle-button green" id="select9_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST9" id="value9_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(9,3)">
      <a title="">
        <span>C.想法</span>
      </a>
      <span class="triangle-button green" id="select9_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT9" id="value9_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(9,4)">
      <a title="">
        <span>D.洞察力</span>
      </a>
      <span class="triangle-button green" id="select9_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF9" id="value9_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(9)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question10">
        <span>10</span>
      </a>
            <span class="triangle-button green" id="select10_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(10,1)">
      <a  title="">
        <span>A.行为</span>
      </a>
      <span class="triangle-button green" id="select10_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="ST10" id="value10_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(10,2)">
      <a title="">
        <span>B.怀疑</span>
      </a>
      <span class="triangle-button green" id="select10_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF10" id="value10_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(10,3)">
      <a title="">
        <span>C.温暖</span>
      </a>
      <span class="triangle-button green" id="select10_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF10" id="value10_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(10,4)">
      <a title="">
        <span>D.智慧</span>
      </a>
      <span class="triangle-button green" id="select10_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT10" id="value10_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(10)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>
<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question11">
        <span>11</span>
      </a>
            <span class="triangle-button green" id="select11_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(11,1)">
      <a  title="">
        <span>A.有了！</span>
      </a>
      <span class="triangle-button green" id="select11_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="NF11" id="value11_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(11,2)">
      <a title="">
        <span>B.尝试错误</span>
      </a>
      <span class="triangle-button green" id="select11_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST11" id="value11_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(11,3)">
      <a title="">
        <span>C.直觉</span>
      </a>
      <span class="triangle-button green" id="select11_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF11" id="value11_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(11,4)">
      <a title="">
        <span>D.策略</span>
      </a>
      <span class="triangle-button green" id="select11_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT11" id="value11_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(11)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question12">
        <span>12</span>
      </a>
            <span class="triangle-button green" id="select12_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(12,1)">
      <a  title="">
        <span>A.现实的</span>
      </a>
      <span class="triangle-button green" id="select12_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="ST12" id="value12_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(12,2)">
      <a title="">
        <span>B.理论的</span>
      </a>
      <span class="triangle-button green" id="select12_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT12" id="value12_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(12,3)">
      <a title="">
        <span>C.唯美的</span>
      </a>
      <span class="triangle-button green" id="select12_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF12" id="value12_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(12,4)">
      <a title="">
        <span>D.人性的</span>
      </a>
      <span class="triangle-button green" id="select12_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF12" id="value12_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(12)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question13">
        <span>13</span>
      </a>
            <span class="triangle-button green" id="select13_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(13,1)">
      <a  title="">
        <span>A.特性</span>
      </a>
      <span class="triangle-button green" id="select13_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="ST13" id="value13_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(13,2)">
      <a title="">
        <span>B.概念</span>
      </a>
      <span class="triangle-button green" id="select13_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT13" id="value13_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(13,3)">
      <a title="">
        <span>C.价值</span>
      </a>
      <span class="triangle-button green" id="select13_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF13" id="value13_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(13,4)">
      <a title="">
        <span>D.融洽</span>
      </a>
      <span class="triangle-button green" id="select13_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF13" id="value13_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(13)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question14">
        <span>14</span>
      </a>
            <span class="triangle-button green" id="select14_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(14,1)">
      <a  title="">
        <span>A.逻辑</span>
      </a>
      <span class="triangle-button green" id="select14_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="NT14" id="value14_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(14,2)">
      <a title="">
        <span>B.精确</span>
      </a>
      <span class="triangle-button green" id="select14_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST14" id="value14_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(14,3)">
      <a title="">
        <span>C.说服</span>
      </a>
      <span class="triangle-button green" id="select14_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF14" id="value14_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(14,4)">
      <a title="">
        <span>D.预测</span>
      </a>
      <span class="triangle-button green" id="select14_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF14" id="value14_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(14)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question15">
        <span>15</span>
      </a>
            <span class="triangle-button green" id="select15_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(15,1)">
      <a  title="">
        <span>A.知道</span>
      </a>
      <span class="triangle-button green" id="select15_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="ST15" id="value15_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(15,2)">
      <a title="">
        <span>B.建立关系</span>
      </a>
      <span class="triangle-button green" id="select15_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF15" id="value15_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(15,3)">
      <a title="">
        <span>C.表达</span>
      </a>
      <span class="triangle-button green" id="select15_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF15" id="value15_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(15,4)">
      <a title="">
        <span>D.理解</span>
      </a>
      <span class="triangle-button green" id="select15_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT15" id="value15_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(15)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

        <div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question16">
        <span>16</span>
      </a>
            <span class="triangle-button green" id="select16_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(16,1)">
      <a  title="">
        <span>A.理想化</span>
      </a>
      <span class="triangle-button green" id="select16_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="NF16" id="value16_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(16,2)">
      <a title="">
        <span>B.系统化</span>
      </a>
      <span class="triangle-button green" id="select16_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT16" id="value16_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(16,3)">
      <a title="">
        <span>C.社会化</span>
      </a>
      <span class="triangle-button green" id="select16_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF16" id="value16_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(16,4)">
      <a title="">
        <span>D.程序化</span>
      </a>
      <span class="triangle-button green" id="select16_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST16" id="value16_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(16)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question17">
        <span>17</span>
      </a>
            <span class="triangle-button green" id="select17_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(17,1)">
      <a  title="">
        <span>A.智力的</span>
      </a>
      <span class="triangle-button green" id="select17_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="NT17" id="value17_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(17,2)">
      <a title="">
        <span>B.同情的</span>
      </a>
      <span class="triangle-button green" id="select17_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF17" id="value17_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(17,3)">
      <a title="">
        <span>C.实际的</span>
      </a>
      <span class="triangle-button green" id="select17_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST17" id="value17_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(17,4)">
      <a title="">
        <span>D.理想的</span>
      </a>
      <span class="triangle-button green" id="select17_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF17" id="value17_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(17)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question18">
        <span>18</span>
      </a>
            <span class="triangle-button green" id="select18_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(18,1)">
      <a  title="">
        <span>A.发明</span>
      </a>
      <span class="triangle-button green" id="select18_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="NF18" id="value18_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(18,2)">
      <a title="">
        <span>B.亲密</span>
      </a>
      <span class="triangle-button green" id="select18_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF18" id="value18_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(18,3)">
      <a title="">
        <span>C.信息</span>
      </a>
      <span class="triangle-button green" id="select18_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST18" id="value18_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(18,4)">
      <a title="">
        <span>D.询问</span>
      </a>
      <span class="triangle-button green" id="select18_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT18" id="value18_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(18)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question19">
        <span>19</span>
      </a>
            <span class="triangle-button green" id="select19_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(19,1)">
      <a  title="">
        <span>A.忠诚</span>
      </a>
      <span class="triangle-button green" id="select19_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="SF19" id="value19_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(19,2)">
      <a title="">
        <span>B.规则</span>
      </a>
      <span class="triangle-button green" id="select19_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST19" id="value19_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(19,3)">
      <a title="">
        <span>C.原则</span>
      </a>
      <span class="triangle-button green" id="select19_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT19" id="value19_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(19,4)">
      <a title="">
        <span>D.隐喻</span>
      </a>
      <span class="triangle-button green" id="select19_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF19" id="value19_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(19)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question20">
        <span>20</span>
      </a>
            <span class="triangle-button green" id="select20_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(20,1)">
      <a  title="">
        <span>A.启示的</span>
      </a>
      <span class="triangle-button green" id="select20_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="NF20" id="value20_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(20,2)">
      <a title="">
        <span>B.逻辑的</span>
      </a>
      <span class="triangle-button green" id="select20_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT20" id="value20_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(20,3)">
      <a title="">
        <span>C.经验的</span>
      </a>
      <span class="triangle-button green" id="select20_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF20" id="value20_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(20,4)">
      <a title="">
        <span>D.有秩序的</span>
      </a>
      <span class="triangle-button green" id="select20_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST20" id="value20_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(20)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>
<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question21">
        <span>21</span>
      </a>
            <span class="triangle-button green" id="select21_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(21,1)">
      <a  title="">
        <span>A.论证</span>
      </a>
      <span class="triangle-button green" id="select21_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="NT21" id="value21_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(21,2)">
      <a title="">
        <span>B.正确</span>
      </a>
      <span class="triangle-button green" id="select21_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST21" id="value21_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(21,3)">
      <a title="">
        <span>C.依恋</span>
      </a>
      <span class="triangle-button green" id="select21_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF21" id="value21_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(21,4)">
      <a title="">
        <span>D.取舍</span>
      </a>
      <span class="triangle-button green" id="select21_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF21" id="value21_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(21)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question22">
        <span>22</span>
      </a>
            <span class="triangle-button green" id="select22_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(22,1)">
      <a  title="">
        <span>A.明确</span>
      </a>
      <span class="triangle-button green" id="select22_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="ST22" id="value22_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(22,2)">
      <a title="">
        <span>B.好奇</span>
      </a>
      <span class="triangle-button green" id="select22_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT22" id="value22_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(22,3)">
      <a title="">
        <span>C.移情</span>
      </a>
      <span class="triangle-button green" id="select22_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF22" id="value22_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(22,4)">
      <a title="">
        <span>D.独创性</span>
      </a>
      <span class="triangle-button green" id="select22_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF22" id="value22_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(22)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question23">
        <span>23</span>
      </a>
            <span class="triangle-button green" id="select23_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(23,1)">
      <a  title="">
        <span>A.解释</span>
      </a>
      <span class="triangle-button green" id="select23_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="NT23" id="value23_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(23,2)">
      <a title="">
        <span>B.推断</span>
      </a>
      <span class="triangle-button green" id="select23_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="NF23" id="value23_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(23,3)">
      <a title="">
        <span>C.仿效</span>
      </a>
      <span class="triangle-button green" id="select23_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF23" id="value23_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(23,4)">
      <a title="">
        <span>D.范例</span>
      </a>
      <span class="triangle-button green" id="select23_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST23" id="value23_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(23)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row">
        <div class="span1 action-nav-button">
      <a  title="" name="question24">
        <span>24</span>
      </a>
            <span class="triangle-button green" id="select24_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(24,1)">
      <a  title="">
        <span>A.热情</span>
      </a>
      <span class="triangle-button green" id="select24_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="NF24" id="value24_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(24,2)">
      <a title="">
        <span>B.经验</span>
      </a>
      <span class="triangle-button green" id="select24_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF24" id="value24_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(24,3)">
      <a title="">
        <span>C.努力</span>
      </a>
      <span class="triangle-button green" id="select24_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST24" id="value24_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(24,4)">
      <a title="">
        <span>D.测试</span>
      </a>
      <span class="triangle-button green" id="select24_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT24" id="value24_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(24)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

<div class="one_row" >
        <div class="span1 action-nav-button">
      <a  title="" name="question25">
        <span>25</span>
      </a>
            <span class="triangle-button green" id="select25_0" style="display:none;"><span class="inner" >✔</span></span>
    </div>
     <div class="span2 action-nav-button"  onclick="clicks(25,1)">
      <a  title="">
        <span>A.对称的</span>
      </a>
      <span class="triangle-button green" id="select25_1"  style="display:none;"></span>
          <input type="hidden" value="100" name="NF25" id="value25_1" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(25,2)">
      <a title="">
        <span>B.循序渐进的</span>
      </a>
      <span class="triangle-button green" id="select25_2"  style="display:none;"></span>
         <input type="hidden" value="100" name="ST25" id="value25_2" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(25,3)">
      <a title="">
        <span>C.科学的</span>
      </a>
      <span class="triangle-button green" id="select25_3"  style="display:none;"></span>
         <input type="hidden" value="100" name="NT25" id="value25_3" class="span1">
    </div>
	<div class="span2 action-nav-button"  onclick="clicks(25,4)">
      <a title="">
        <span>D.社交的</span>
      </a>
      <span class="triangle-button green" id="select25_4"  style="display:none;"></span>
         <input type="hidden" value="100" name="SF25" id="value25_4" class="span1">
    </div>
	<div class="span1 action-nav-button red"  onclick="myclear(25)">
      <a title="">
        <span>清除选择</span>
      </a>
	</div>
        </div>

        <div class="one_row">
      <button class="button span3" type="button" onclick="submit_data()">
          确定提交
      </button>
        </div>
	</form>
</div>
</div>
</body>
</html>